
html{
    cursor: url(imagens/mata_mosquito.png) 10 10, auto;
}


/*atuando sobre o elemento body*/
body {
    background-image: url(imagens/background6.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.mosquito1{
    width: 50px;
    height: 50px;
}

.mosquito2{
    width: 70px;
    height: 70px;
}

.mosquito3{
    width: 3em;
    height: 3em;
}

/*mantem a imagem na mesma direção*/
.ladoA{
    transform: scaleX(1);
}
/* scaleX(-1), Dda um flip na imagem e inverte a direção*/
.ladoA{
    transform: scaleX(-1);
}

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
    left: 0px;
}

.vidas{
    float: left;
}
.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}







